* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* 

main color : #1f2937;
hero main text: #f9faf8; 4.8rem, fw: 900;
hero 2nd text, header link text: #e5e7eb; 1.8rem
header logo text: #f9faf8; 2.4rem

button color, cta back color: #3882f6;
information header text: #1f2937; 3.6rem fw: 900;

quote section back color: #e5e7eb;
quote text: #1f2937; 3.6rem, italic

*/

/* SECTION HEADER */

.container-flex {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 3.6rem 0;
}

.header {
  background-color: #1f2937;
}

.header-logo {
  font-size: 2.4rem;
}

.link {
  display: flex;
  text-decoration: none;
  gap: 1.6rem;
}

.mar-left {
  margin-left: auto;
}

.hero-section {
  padding: 6.4rem 0 3.6rem 0;
  display: flex;
  gap: 3.6rem;
}

.h2-header {
  color: #f9faf8;
  font-size: 4.8rem;
  font-weight: 900;
}

.p-header {
  color: #e5e7eb;
  margin-bottom: 1.6rem;
}

.hero-img img {
  width: 600px;
  height: auto;
}

img {
  border-radius: 10px;
}

.btn-cta {
  border: none;
  padding: 1.6rem 3.6rem;
  cursor: pointer;
  background-color: #3882f6;
  color: #fff;
  border-radius: 10px;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: #3275dd;
  color: #fff;
}

.hero-img {
  flex: 1;
}

/* SECTION IMG */

.h3-img {
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 3.6rem;
}

.random-img {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.img-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1.6rem;
}

.img-list img {
  width: 300px;
  height: auto;
}

.p-dummy {
  text-align: center;
}

/* SECTION QUOTES  */

.quotes {
  background-color: #e5e7eb;
}

.quote-container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.p-quotes {
  color: #1f2937;
  font-size: 3.6rem;
  font-style: italic;
}

/* SECTION CTA */

.cta {
  margin: 82px 0;
}

.container-cta {
  max-width: 80rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #3882f6;
  padding: 40px;
  border-radius: 10px;
}

.container-cta-a {
  display: flex;
  justify-content: space-between;
}

.btn-cta-b {
  border: none;
  padding: 1.6rem 3.6rem;
  cursor: pointer;
  background-color: #3882f6;
  color: #fff;
  border: 2px #fff solid;
  border-radius: 10px;
}

.btn-cta-b:hover,
.btn-cta-b:active {
  background-color: #3275dd;
  color: #fff;
}

span {
  color: #e5e7eb;
}

h4 {
  color: #fff;
  font-size: 2.4rem;
}
